@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
@font-face {
  font-family: 'Poppins';
  src: url('../../public/font/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  

body {
background-color: #BBE9FF;
font-family: 'Poppins', sans-serif;
=======
body {
background-color: #BBE9FF;
>>>>>>> 5e06176eb4014e5f90154783ec7aa0f7665779a4
}

.MuiPaginationItem-ellipsis {
  color: #fff !important; /* Mengubah warna teks "..." menjadi putih */
  opacity: 0.5; /* Atur kecerahan teks "..." */
}

<<<<<<< HEAD

=======
>>>>>>> 5e06176eb4014e5f90154783ec7aa0f7665779a4
